USE [master]
GO
/****** Object:  Database [Edu]    Script Date: 11-02-2020 20:11:35 ******/
CREATE DATABASE [Edu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Edu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Edu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Edu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Edu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Edu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Edu]
GO
/****** Object:  User [GAU\lab322_lecturer]    Script Date: 11-02-2020 20:11:35 ******/
CREATE USER [GAU\lab322_lecturer] FOR LOGIN [GAU\lab322_lecturer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11-02-2020 20:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[GPA] [float] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsSubjects]    Script Date: 11-02-2020 20:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK_StudentsSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 11-02-2020 20:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Credits] [smallint] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [BirthDate], [GPA]) VALUES (1, N'ლუკა', N'კუხიანიძე', CAST(N'1994-09-03T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [BirthDate], [GPA]) VALUES (3, N'ბექა', N'არაბიძე', CAST(N'1994-04-07T00:00:00.000' AS DateTime), 3.7)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [BirthDate], [GPA]) VALUES (5, N'ნიკა', N'პატატიშვილი', CAST(N'1995-04-07T00:00:00.000' AS DateTime), 3.9)
SET IDENTITY_INSERT [dbo].[Students] OFF
/****** Object:  Index [IX_FK_StudentStudentsSubjects]    Script Date: 11-02-2020 20:11:35 ******/
CREATE NONCLUSTERED INDEX [IX_FK_StudentStudentsSubjects] ON [dbo].[StudentsSubjects]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_SubjectStudentsSubjects]    Script Date: 11-02-2020 20:11:35 ******/
CREATE NONCLUSTERED INDEX [IX_FK_SubjectStudentsSubjects] ON [dbo].[StudentsSubjects]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentsSubjects]  WITH CHECK ADD  CONSTRAINT [FK_StudentStudentsSubjects] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentsSubjects] CHECK CONSTRAINT [FK_StudentStudentsSubjects]
GO
ALTER TABLE [dbo].[StudentsSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SubjectStudentsSubjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[StudentsSubjects] CHECK CONSTRAINT [FK_SubjectStudentsSubjects]
GO
USE [master]
GO
